1 задача
Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [39]:
import pandas as pd
df = pd.read_csv("2sem.csv")
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

2 задача

Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [40]:
# Изучение типов данных
data_types = df.dtypes
print("Типы данных:")
print(data_types)

# Подсчет пропущенных значений
missing_values = df.isnull().sum()
print("\nКоличество пропущенных значений:")
print(missing_values)

# Основные статистики
statistics = df.describe()
print("\nОсновные статистики:")
print(statistics)

Типы данных:
id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above       float64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Количество пропущенных значений:
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Основные статистики:
                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21611.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.396095     291.509045   1971.005136     84.402258
std        1.175459    828.128162     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

In [41]:
# 3.1 В каком диапазоне изменяются стоимости недвижимости?
min_price = df["price"].min()
max_price = df["price"].max()
print(f"Минимальная стоимость недвижимости: {min_price}")
print(f"Максимальная стоимость недвижимости: {max_price}")

# 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
average_residential_ratio = (df["sqft_living"] / df["sqft_lot"]).mean()
print(f"Средняя доля жилой площади от всей площади: {average_residential_ratio:.2f}")

# 3.3 Как много домов с разными этажами в данных?
floors_count = df["floors"].nunique()
print(f"Количество домов с разным количеством этажей: {floors_count}")

# 3.4 Насколько хороши состояния у домов в данных?
conditions_count = df["grade"].value_counts()
print("Количество домов в каждом состоянии:")
print(conditions_count)

# 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
earliest_year = df["yr_built"].min()
latest_year = df["yr_built"].max()
print(f"Год постройки первого дома: {earliest_year}")
print(f"Год постройки последнего дома: {latest_year}")

Минимальная стоимость недвижимости: 75000.0
Максимальная стоимость недвижимости: 7700000.0
Средняя доля жилой площади от всей площади: 0.32
Количество домов с разным количеством этажей: 6
Количество домов в каждом состоянии:
grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64
Год постройки первого дома: 1900
Год постройки последнего дома: 2015

In [42]:
# 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
average_price_2_bedrooms = df[df["bedrooms"] == 2]["price"].mean()
print(f"Средняя стоимость домов с 2 спальнями: {average_price_2_bedrooms:.2f}")

# 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
average_area_high_price = df[df["price"] > 600000]["sqft_lot"].mean()
print(f"Средняя общая площадь домов с ценой выше 600,000: {average_area_high_price:.2f}")

# 4.3 Как много домов коснулся ремонт?

renovated_houses = df[df["yr_renovated"] > 0]
count_renovated_houses = len(renovated_houses)
print(f"Количество домов с ремонтом: {count_renovated_houses}")

# 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
average_price_high_grade = df[df["grade"] > 10]["price"].mean()
average_price_low_grade = df[df["grade"] < 4]["price"].mean()
price_difference = average_price_high_grade - average_price_low_grade
print(f"Разница в средней цене между домами с grade > 10 и grade < 4: {price_difference:.2f}")

Средняя стоимость домов с 2 спальнями: 401372.68
Средняя общая площадь домов с ценой выше 600,000: 20442.52
Количество домов с ремонтом: 914
Разница в средней цене между домами с grade > 10 и grade < 4: 1488885.12

5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [43]:

view_and_baths_and_basement = df[(df["waterfront"] == 1) & (df["bedrooms"] >= 3) & (df["sqft_basement"] > 0)]
options_count = len(view_and_baths_and_basement)
print(f"Количество доступных вариантов для клиента: {options_count}")

Количество доступных вариантов для клиента: 84